@font-face {
    font-family: 'LSTY-Yi-Black';
    src: url('LSTY-Yi-Black.woff2') format('woff2'),
        url('LSTY-Yi-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MSYi';
    src: url('/fonts/msyi.woff2') format('woff2'),
        url('/fonts/msyi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}