@font-face {
    font-family: 'LSTY-Yi-Black';
    src: url('/fonts/lingyi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.yi-char { font-family: 'LSTY-Yi-Black', sans-serif !important; }
.yi-text { font-family: 'LSTY-Yi-Black', sans-serif !important; }
